:root {
  --aquamarine-blue: rgba(127, 200, 224, 1);
  --cararra: rgba(228, 229, 225, 1);
  --catskill-white: rgba(241, 245, 249, 1);
  --ebony: rgba(15, 23, 42, 1);
  --fiord: rgba(71, 85, 105, 1);
  --foam: rgba(236, 253, 245, 1);
  --gray-chateau: rgba(154, 160, 170, 1);
  --green-haze: rgba(5, 150, 105, 1);
  --log-cabin-50: rgba(29, 43, 30, 0.5);
  --log-cabin-55: rgba(29, 43, 30, 0.55);
  --m3syslighton-surface: rgba(29, 27, 32, 1);
  --mystic: rgba(226, 232, 240, 1);
  --santas-gray: rgba(155, 160, 172, 1);
  --segoe-UI-bold-font-family: "Segoe UI", Helvetica;
  --segoe-UI-bold-font-size: 17.600000381469727px;
  --segoe-UI-bold-font-style: normal;
  --segoe-UI-bold-font-weight: 700;
  --segoe-UI-bold-letter-spacing: 0px;
  --segoe-UI-bold-line-height: 28.15999984741211px;
  --segoe-UI-bold-upper-font-family: "Segoe UI", Helvetica;
  --segoe-UI-bold-upper-font-size: 13.600000381469727px;
  --segoe-UI-bold-upper-font-style: normal;
  --segoe-UI-bold-upper-font-weight: 700;
  --segoe-UI-bold-upper-letter-spacing: 0.6800000071525574px;
  --segoe-UI-bold-upper-line-height: 21.760000228881836px;
  --segoe-UI-regular-font-family: "Segoe UI", Helvetica;
  --segoe-UI-regular-font-size: 13.600000381469727px;
  --segoe-UI-regular-font-style: normal;
  --segoe-UI-regular-font-weight: 400;
  --segoe-UI-regular-letter-spacing: 0px;
  --segoe-UI-regular-line-height: 21.760000228881836px;
  --semantic-heading-1-font-family: "Segoe UI", Helvetica;
  --semantic-heading-1-font-size: 44.400001525878906px;
  --semantic-heading-1-font-style: normal;
  --semantic-heading-1-font-weight: 700;
  --semantic-heading-1-letter-spacing: -0.8960000276565553px;
  --semantic-heading-1-line-height: 51.52000045776367px;
  --semantic-heading-2-font-family: "Segoe UI", Helvetica;
  --semantic-heading-2-font-size: 35.20000076293945px;
  --semantic-heading-2-font-style: normal;
  --semantic-heading-2-font-weight: 700;
  --semantic-heading-2-letter-spacing: 0px;
  --semantic-heading-2-line-height: 56.31999969482422px;
  --semantic-link-font-family: "Segoe UI", Helvetica;
  --semantic-link-font-size: 12.800000190734863px;
  --semantic-link-font-style: normal;
  --semantic-link-font-weight: 700;
  --semantic-link-letter-spacing: 0px;
  --semantic-link-line-height: 20.479999542236328px;
  --white: rgba(255, 255, 255, 1);
  --white-95: rgba(255, 255, 255, 0.95);
  --white-cararra: rgba(255, 255, 255, 1);
  --white-green-white: rgba(255, 255, 255, 1);
}